// This file is checked in as "wifi_credentials.h.example".
// Please rename to "wifi_credentials.h" and update settings.
#define WIFIS_N 2
const char* ssids[] = {"nurupi4", "nurupi2"};
const char* passwords[] = {"opensecret", "opensecret"};
