// This file is checked in as "wifi_credentials.h.example".
// Please rename to "wifi_credentials.h" and update settings.
const char* ssid = "nurupi4";
const char* password = "opensecret";
const char* udpAddress = "192.168.4.1";
